<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xduo.shortlink.project.dao.mapper.LinkOsStatsMapper">


    <insert id="shortLinkStats" parameterType="com.xduo.shortlink.project.dao.entity.LinkOsStatsDO">
        INSERT INTO
        t_link_os_stats (
        full_short_url,
        gid,
        date,
        cnt,
        os,
        create_time,
        update_time,
        del_flag
        )
        VALUES (
        #{fullShortUrl},
        #{gid},
        #{date},
        #{cnt},
        #{os},
        #{createTime},
        #{updateTime},
        #{delFlag}
        )
        ON DUPLICATE KEY UPDATE
        cnt = cnt + #{cnt},
        update_time = #{updateTime};
    </insert>
    <select id="listOsStatsByShortLink" resultType="com.xduo.shortlink.project.dao.entity.LinkOsStatsDO">
        SELECT
        os,
        SUM(cnt) AS cnt
        FROM
        t_link_os_stats los
        <if test="requestParam.includeRecycle == null or requestParam.includeRecycle == false">
            inner join t_link l on los.full_short_url = l.full_short_url and los.gid = l.gid and l.del_flag = 0
        </if>
        WHERE
        los.full_short_url = #{requestParam.fullShortUrl}
        AND los.gid = #{requestParam.gid}
        AND los.date BETWEEN #{requestParam.startDate} AND #{requestParam.endDate}
        GROUP BY
        los.os
    </select>
    <select id="listGroupOsStatsByShortLink"
            resultType="com.xduo.shortlink.project.dao.entity.LinkOsStatsDO">
        SELECT
        os,
        SUM(cnt) AS cnt
        FROM
        t_link_os_stats los
        <if test="requestParam.includeRecycle == null or requestParam.includeRecycle == false">
            inner join t_link l on los.full_short_url = l.full_short_url and los.gid = l.gid and l.del_flag = 0
        </if>
        WHERE
        los.gid = #{requestParam.gid}
        AND los.date BETWEEN #{requestParam.startDate} AND #{requestParam.endDate}
        GROUP BY
        los.os
    </select>


</mapper>

