<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xduo.shortlink.project.dao.mapper.LinkLocaleStatsMapper">


    <insert id="shortLinkStats" parameterType="com.xduo.shortlink.project.dao.entity.LinkLocaleStatsDO">
        INSERT INTO
        t_link_locale_stats (
        full_short_url,
        gid,
        date,
        cnt,
        province,
        city,
        adcode,
        country,
        create_time,
        update_time,
        del_flag
        )
        VALUES (
        #{fullShortUrl},
        #{gid},
        #{date},
        #{cnt},
        #{province},
        #{city},
        #{adcode},
        #{country},
        #{createTime},
        #{updateTime},
        #{delFlag}
        )
        ON DUPLICATE KEY UPDATE
        cnt = cnt + #{cnt},
        update_time = #{updateTime};
    </insert>
    <select id="getOneLinkLocaleCntBetweenDateByProvince"
            resultType="com.xduo.shortlink.project.dto.resp.ShortLinkStatsLocaleCNRespDTO">
        SELECT
        lls.full_short_url,
        SUM(lls.cnt) AS cnt
        FROM
        t_link_locale_stats lls
        <if test="includeRecycle == null or includeRecycle == false">
            inner join t_link l on lls.full_short_url = l.full_short_url and lls.gid = l.gid and l.del_flag = 0
        </if>
        WHERE
        lls.gid = #{gid}
        AND lls.full_short_url = #{fullShortUrl}
        AND lls.del_flag = 0
        AND lls.date BETWEEN #{startDate} AND #{endDate}
        GROUP BY
        lls.full_short_url, lls.gid, lls.province
    </select>
    <select id="getGroupLinkLocaleCntBetweenDateByProvince"
            resultType="com.xduo.shortlink.project.dto.resp.ShortLinkStatsLocaleCNRespDTO">
        SELECT
        SUM(cnt) AS cnt
        FROM
        t_link_locale_stats lls
        <if test="includeRecycle == null or includeRecycle == false">
            inner join t_link l on lls.full_short_url = l.full_short_url and lls.gid = l.gid and l.del_flag = 0
        </if>
        WHERE
        lls.gid = #{gid}
        AND lls.del_flag = 0
        AND lls.date BETWEEN #{startDate} AND #{endDate}
        GROUP BY
        lls.gid, lls.province
    </select>


</mapper>

