<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xduo.shortlink.project.dao.mapper.LinkDeviceStatsMapper">


    <insert id="shortLinkStats" parameterType="com.xduo.shortlink.project.dao.entity.LinkDeviceStatsDO">
        INSERT INTO
        t_link_device_stats (
        full_short_url,
        gid,
        date,
        cnt,
        device,
        create_time,
        update_time,
        del_flag
        )
        VALUES (
        #{fullShortUrl},
        #{gid},
        #{date},
        #{cnt},
        #{device},
        #{createTime},
        #{updateTime},
        #{delFlag}
        )
        ON DUPLICATE KEY UPDATE
        cnt = cnt + #{cnt},
        update_time = #{updateTime};
    </insert>
    <select id="listDeviceStatsByShortLink"
            resultType="com.xduo.shortlink.project.dao.entity.LinkDeviceStatsDO">
        SELECT
        device,
        SUM(cnt) AS cnt
        FROM
        t_link_device_stats lds
        <if test="requestParam.includeRecycle == null or requestParam.includeRecycle == false">
            inner join t_link l on lds.full_short_url = l.full_short_url and lds.gid = l.gid and l.del_flag = 0
        </if>
        WHERE
        lds.full_short_url = #{requestParam.fullShortUrl}
        AND lds.gid = #{requestParam.gid}
        AND lds.date BETWEEN #{requestParam.startDate} AND #{requestParam.endDate}
        GROUP BY
        lds.device
    </select>
    <select id="listGroupDeviceStatsByShortLink"
            resultType="com.xduo.shortlink.project.dao.entity.LinkDeviceStatsDO">
        SELECT
        device,
        SUM(cnt) AS cnt
        FROM
        t_link_device_stats lds
        <if test="requestParam.includeRecycle == null or requestParam.includeRecycle == false">
            inner join t_link l on lds.full_short_url = l.full_short_url and lds.gid = l.gid and l.del_flag = 0
        </if>
        WHERE
        lds.gid = #{requestParam.gid}
        AND lds.date BETWEEN #{requestParam.startDate} AND #{requestParam.endDate}
        GROUP BY
        lds.device
    </select>

</mapper>

