<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xduo.shortlink.project.dao.mapper.LinkAccessStatsMapper">


    <insert id="shortLinkStats" parameterType="com.xduo.shortlink.project.dao.entity.LinkAccessStatsDO">
        INSERT INTO
        t_link_access_stats (
        full_short_url,
        gid,
        date,
        pv,
        uv,
        uip,
        hour,
        weekday,
        create_time,
        update_time,
        del_flag
        )
        VALUES (
        #{fullShortUrl},
        #{gid},
        #{date},
        #{pv},
        #{uv},
        #{uip},
        #{hour},
        #{weekday},
        #{createTime},
        #{updateTime},
        #{delFlag}
        )
        ON DUPLICATE KEY UPDATE
        pv = pv + #{pv},
        uv = uv + #{uv},
        uip = uip + #{uip},
        update_time = #{updateTime};
    </insert>
    <select id="getOneLinkBaseDateBetweenDate"
            resultType="com.xduo.shortlink.project.dao.entity.LinkAccessStatsDO">
        select date,sum(pv) as pv,sum(uv) as uv , sum(uip) as uip from t_link_access_stats las
        <if test="includeRecycle == null or includeRecycle == false">
            inner join t_link l on las.full_short_url = l.full_short_url and las.gid = l.gid and l.del_flag = 0
        </if>
        where las.full_short_url = #{fullShortUrl} and las.gid = #{gid} and las.date between #{startDate} and #{endDate} 
        group by las.date;
    </select>
    <select id="listHourStatsByShortLink" resultType="com.xduo.shortlink.project.dao.entity.LinkAccessStatsDO">
        SELECT hour,SUM(pv) AS pv
        FROM t_link_access_stats las
        <if test="includeRecycle == null or includeRecycle == false">
            inner join t_link l on las.full_short_url = l.full_short_url and las.gid = l.gid and l.del_flag = 0
        </if>
        WHERE las.full_short_url = #{fullShortUrl} AND las.gid = #{gid}
        AND las.date BETWEEN #{startDate} and #{endDate} GROUP BY las.full_short_url, las.gid, las.hour
    </select>
    <select id="listWeekdayStatsByShortLink"
            resultType="com.xduo.shortlink.project.dao.entity.LinkAccessStatsDO">
        SELECT weekday,SUM(pv) AS pv
        FROM t_link_access_stats las
        <if test="includeRecycle == null or includeRecycle == false">
            inner join t_link l on las.full_short_url = l.full_short_url and las.gid = l.gid and l.del_flag = 0
        </if>
        WHERE las.full_short_url = #{fullShortUrl} AND las.gid = #{gid}
        AND las.date BETWEEN #{startDate} and #{endDate} GROUP BY las.full_short_url, las.gid, las.weekday
    </select>
    <select id="getGroupLinkBaseDateBetweenDate"
            resultType="com.xduo.shortlink.project.dao.entity.LinkAccessStatsDO">
        select date,sum(pv) as pv,sum(uv) as uv , sum(uip) as uip from t_link_access_stats las
        <if test="includeRecycle == null or includeRecycle == false">
            inner join t_link l on las.full_short_url = l.full_short_url and las.gid = l.gid and l.del_flag = 0
        </if>
        where las.gid = #{gid} and las.date between #{startDate} and #{endDate} group by las.date;
    </select>
    <select id="listGroupHourStatsByShortLink"
            resultType="com.xduo.shortlink.project.dao.entity.LinkAccessStatsDO">
        SELECT hour,SUM(pv) AS pv
        FROM t_link_access_stats las
        <if test="includeRecycle == null or includeRecycle == false">
            inner join t_link l on las.full_short_url = l.full_short_url and las.gid = l.gid and l.del_flag = 0
        </if>
        WHERE las.gid = #{gid}
        AND las.date BETWEEN #{startDate} and #{endDate} GROUP BY las.gid, las.hour
    </select>
    <select id="listGroupWeekdayStatsByShortLink"
            resultType="com.xduo.shortlink.project.dao.entity.LinkAccessStatsDO">
        SELECT weekday,SUM(pv) AS pv
        FROM t_link_access_stats las
        <if test="includeRecycle == null or includeRecycle == false">
            inner join t_link l on las.full_short_url = l.full_short_url and las.gid = l.gid and l.del_flag = 0
        </if>
        WHERE las.gid = #{gid}
        AND las.date BETWEEN #{startDate} and #{endDate} GROUP BY las.gid, las.weekday
    </select>

</mapper>
